<div class="contenedor-lista">
  <h2>Cargas realizadas</h2>

  <div class="acciones">
    <button mat-raised-button color="primary" (click)="abrirAltaCarga()">
      + Nueva Carga
    </button>
  </div>

  <table mat-table [dataSource]="cargas" class="mat-elevation-z2" *ngIf="cargas.length">

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let carga">{{ carga.fecha | date }}</td>
    </ng-container>

    <!-- Repartidor -->
    <ng-container matColumnDef="repartidor">
      <th mat-header-cell *matHeaderCellDef>Repartidor</th>
      <td mat-cell *matCellDef="let carga">{{ carga.repartidorNombre }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let carga">
        <button mat-icon-button color="accent">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p *ngIf="!cargas.length">No hay cargas registradas.</p>
</div>
