<h2 mat-dialog-title>Nuevo Abono</h2>

<mat-dialog-content [formGroup]="form">

  <!-- Cliente -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Cliente</mat-label>
    <mat-select formControlName="clienteId">
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
        {{ cliente.tipoCliente === 'personal' ? cliente.nombre + ' ' + cliente.apellido : cliente.razonSocial }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Tipo -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Tipo de cliente</mat-label>
    <mat-select formControlName="tipo">
      <mat-option value="particular">Particular</mat-option>
      <mat-option value="empresa">Empresa</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Cantidad bidones -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Bidones por semana</mat-label>
    <input type="number" matInput formControlName="cantidadBidones" />
  </mat-form-field>

  <!-- Precio -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Precio negociado</mat-label>
    <input type="number" matInput formControlName="precioNegociado" />
  </mat-form-field>

  <!-- Cantidad de abonos -->
  <mat-form-field appearance="outline">
    <mat-label>Cantidad contratada</mat-label>
    <input matInput type="number" formControlName="cantidadContratada">
  </mat-form-field>

  <!-- Fecha de inicio -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaInicio" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Fecha fijación precio -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Precio fijo hasta</mat-label>
    <input matInput [matDatepicker]="fijacionPicker" formControlName="fechaFijacionPrecioHasta" />
    <mat-datepicker-toggle matSuffix [for]="fijacionPicker"></mat-datepicker-toggle>
    <mat-datepicker #fijacionPicker></mat-datepicker>
  </mat-form-field>

  <!-- Activo -->
  <mat-checkbox formControlName="activo">Activo</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>