<h2>Nuevo Abono</h2>

<form [formGroup]="abonoForm" (ngSubmit)="guardarAbono()">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre del abono</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Cantidad de bidones por semana</mat-label>
    <input matInput type="number" formControlName="cantidadBidones" min="1">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Precio mensual</mat-label>
    <input matInput type="number" formControlName="precioMensual" min="0">
  </mat-form-field>

  <mat-checkbox formControlName="incluyeDispenser">
    ¿Incluye dispenser?
  </mat-checkbox>

  <br><br>
  <button mat-raised-button color="primary" type="submit" [disabled]="abonoForm.invalid">
    Guardar Abono
  </button>
</form>
