<app-encabezado>
  Gestión de Producciones
</app-encabezado>

<div class="contenedor-lista">

  <div class="acciones">
    <button mat-raised-button color="primary" (click)="abrirModal()">
      + Nueva Producción
    </button>
  </div>

  <table mat-table [dataSource]="producciones" class="mat-elevation-z2" *ngIf="producciones.length">

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let p">{{ p.fecha | date }}</td>
    </ng-container>

    <!-- Operador -->
    <ng-container matColumnDef="operador">
      <th mat-header-cell *matHeaderCellDef>Operador</th>
      <td mat-cell *matCellDef="let p">{{ p.operador }}</td>
    </ng-container>

    <!-- Detalle -->
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let p">{{ obtenerDetalleTexto(p.detalle) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['fecha', 'operador', 'detalle']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['fecha', 'operador', 'detalle']"></tr>
  </table>

  <p *ngIf="!producciones.length">No hay producciones registradas.</p>
</div>
