<h2>Asignar Abono a Cliente</h2>

<form [formGroup]="form" (ngSubmit)="guardarAsignacion()">

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Cliente Empresa</mat-label>
    <mat-select formControlName="clienteId">
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
        {{ cliente.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Tipo de Abono</mat-label>
    <mat-select formControlName="abonoId">
      <mat-option *ngFor="let abono of abonos" [value]="abono.id">
        
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Precio negociado mensual</mat-label>
    <input matInput type="number" formControlName="precioNegociado" min="0">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="inicioPicker" formControlName="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
    <mat-datepicker #inicioPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Fecha tope para cambios de precio (opcional)</mat-label>
    <input matInput [matDatepicker]="topePicker" formControlName="fechaTopeActualizacion">
    <mat-datepicker-toggle matSuffix [for]="topePicker"></mat-datepicker-toggle>
    <mat-datepicker #topePicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="activo">¿Activo?</mat-checkbox>

  <br /><br />
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Guardar asignación
  </button>
</form>
