<div mat-dialog-content>
  <h2>Asignar Abono a {{ cliente.nombre || cliente.razonSocial }}</h2>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Abono</mat-label>
    <mat-select [(value)]="abonoSeleccionadoId">
      <mat-option *ngFor="let abono of abonosDisponibles" [value]="abono.id">
        {{ abono.nombre }} ({{ abono.cantidadBidones }} bidones / {{ abono.precio | currency }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="entregarDispenser">Entregar dispenser</mat-checkbox>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="asignarAbono()" [disabled]="!abonoSeleccionadoId">Asignar</button>
</div>