<form [formGroup]="repartidorForm" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required />
    <mat-error *ngIf="repartidorForm.get('nombre')?.hasError('required')">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" />
  </mat-form-field>

  <div style="margin-top: 20px;">
    <button mat-raised-button color="primary" type="submit">Guardar Repartidor</button>
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>
